.navbar {
    background-color: #b8b8b8;
    
    
}


.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.navbar ul li a{
    text-decoration: none;
}